## ROS ignorables ##
build
bin
lib
*/lib/*
installed
patched
wiped
msg_gen
srv_gen

## Eclipse ignorables ##
.cproject
.project
.pydevproject
cmake_install.cmake
Debug
Release
.settings

## Generic ignorables ##
.DS_Store
*.coverage
*.egg-info
*.log
*/tmp/*
.svn

# ignore vim, gedit, matlab and nano temp files
*.swp
*~
*#
.#*
*.asv
*.save

# ignore python compiled files
*.pyc
*.pyo
