# Git repositories downloaded by create_sdcard.py
/Bootloader-Builder
/linaro-tools
/linux-stable
/omap-image-builder
/ros-underlay
/stable-kernel

# Folder for generated images
/images/*
!.gitignore

