<settings>
	<username>garrett</username>
	<name>Garrett</name>
	<password>password</password>
	<fqdn>mecanum</fqdn>
	<mmc>/dev/mmcblk0</mmc>
	<packages for="mecanum/avr">arduino-core</packages>
	<packages for="ROS bootstrap">build-essential python-yaml cmake subversion wget python-setuptools mercurial git-core</packages>
	<packages for="ROS base">python-yaml libapr1-dev libaprutil1-dev libbz2-dev python-dev libgtest-dev python-paramiko liblog4cxx10-dev pkg-config</packages>
	<packages for="ROS base (libboost)">libboost1.40-all-dev</packages>
	<packages for=""></packages>
	<macaddress>00:80:54:15:58:01</macaddress>
</settings>
